[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Desktop Manager
Comment=Launch PCManFM to manage the desktop
Exec=pcmanfm --daemon-mode --desktop
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

