[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Stop Beep
Comment=Disable X server beep sound
Exec=xset b off
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

